/* -----------------------------------------------------------------
 * ---------------------------- HEADER  ----------------------------
 * -----------------------------------------------------------------
 */
 .top_navbar {
     margin-top: 22px;
 }
/* ---------------------------- TOP ---------------------------- */
.top_navbar .navbar1::after {
    /* If a div has only floats, it collapses. To avoid this one can
    * "clear" the float with overflow or clear properties.
    *
    * Overflow sets what to do with content that overflows a 
    * container (hide it, clipt it, etc). If it is used with a
    * a container with only floats, it fits to them. But, content
    * (like shadows) that goes outside is hidden.

    * Another option is to use clear: both after the last child
    * inside the container.
    *
    * The best option (for screen readers also) is to use the after
    * pseudo-element div.
    */
    content: "";
    display: block; 
    clear: both;
}

/* -------------- Left -------------- */
.top_navbar .navbar1 .left {
    /* Floats remain part of the normal flow of the document , unlike
     * absolute elements.
     */
    float: left;
    margin-left: 5px;
}

.navbar1 .left div {
    display: inline-block;
    vertical-align: middle;
}

#Logo {
    width: 90px;
    margin-left: 17px;
}

#search_bar {
    width: 665px;
    height: 40px;
    background-color: transparent;
    font-family: arial, sans-serif;
    border-radius: 50px;
    border: 1px solid #d4d4d4;
    margin-left: 50px;
    padding-left: 15px;
    padding-bottom: 2px;
    font-size: 16px;   
}

#search_bar:hover, #search_bar:focus-within {
    box-shadow: 0 2px 2px rgba(214, 214, 214, 0.726),
                0 -1px 2px rgba(214, 214, 214, 0.274),
                2px 0 2px rgba(214, 214, 214, 0.274),
                -2px 0 2px rgba(214, 214, 214, 0.274);
}

.icons {
    /* Relative path, from the CSS file, note the HTML */
    background: 91.5% / 3.5% no-repeat url('../assets/google_clear.svg'),
    97% / 3.5% no-repeat url('../assets/google_magnifier_blue.svg');
}

/* -------------- Right -------------- */
.top_navbar .navbar1 .right {
    float: right;
    margin-right: 35px;
    margin-top: 5px;
}

.navbar1 .right div {
    display: inline-block;
    vertical-align: middle;
}

#container {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

#container:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
#icon_apps {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    opacity: 50%;
}

.grid-item {
    background-color: black;
    border-radius: 20px;
}

.btn1 { 
    /* Avoids text wraping, modifying button height */
    white-space: nowrap;

    /* size comes from text & padding (no width/height) */
    padding: 0.65em 1.5em;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid #2977dd;
    border-radius: 5px;
    color: #ffffff;
    background-color: #2977dd;
    cursor: pointer;
}

.btn1:hover {
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                0 1px 3px 1px rgba(66,133,244,0.15);
    background-color: #2b7de9;
}

/* ---------------------------- BOTTOM ---------------------------- */
.top_navbar .navbar2 {
    border-bottom: 1px solid #dddddd;
    margin-top: 20px;
}

.item a {
    color: black;
    font-family: arial, sans-serif;
    font-size: 12px;
    opacity: 65%;
    text-decoration: none;
}

.top_navbar .navbar2::after {
    content: "";
    display: block; 
    clear: both;
}

.item {
    padding: 0 11px 10px 11px;

    display: inline-block;
    vertical-align: middle;
}

/* -------------- Left -------------- */
.sites {
    float: left;
    margin-left: 170px;
}

.icon {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.selected {
    border-bottom: 3px solid #1A73E8;
    padding: 0 11px 10px 11px;
    display: inline-block;
    vertical-align: middle;
}

.selected a {
    color: #1A73E8;
    font-family: arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

/* -------------- Right -------------- */
.options {
    float: left;
    margin-left: 100px;
}
